@keyframes scaleIn {
  from {
    transform: scale(0) translateY(-100%);
  }

  to {
    transform: scale(1) translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleOut {
  from {
    transform: scale(1) translateY(0);
  }

  to {
    transform: scale(0) translateY(-100%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#Modal {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0px;
}

#Modal .overlay-container {
  animation: fadeIn 0.25s ease-in-out both;
}

#Modal .overlay-container > div {
  padding: 16px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);

  animation: scaleIn 0.25s ease-in-out both;
}

#Modal .overlay-container.leaving {
  animation: fadeOut 0.25s ease-in-out both;
}

#Modal .overlay-container.leaving > div {
  animation: scaleOut 0.25s ease-in-out both;
}
