@keyframes scaleIn {
  from {
    transform: scale(0) translateY(-10%);
    opacity: 0;
  }

  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@keyframes scaleOut {
  from {
    transform: scale(1) translateY(0);
    opacity: 1;
  }

  to {
    transform: scale(0) translateY(-10%);
    opacity: 0;
  }
}

#Popover {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0px;
}

#Popover .overlay-container > div {
  /* transform-origin: top left; */
  animation: scaleIn 0.25s ease-in-out 1;
}

#Popover .overlay-container.leaving > div {
  /* transform-origin: top left; */
  animation: scaleOut 0.25s ease-in-out 1;
}
