*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

body {
  /* font-family: -apple-system serif; */
  font-family: -apple-system, 'Noto Sans SC', sans-serif;
}

/* ***********
          滚动条
      ************ */

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  cursor: pointer;

  background: transparent;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
